@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

body {
  font-family: "Montserrat", sans-serif;
}

.model-text {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 0;
}

.footer-text {
  text-align: center;
  margin-top: 10px;
}
