.font-family-tahoma {
  font-family: Tahoma;
  font-weight: bolder;
}
.biggest-deal-font {
  font-family: Arial;
  font-weight: bolder;
  margin-bottom: 0;
}
.sales-text-style {
  font-family: Arial;
  font-size: 12px;
  color: red;
  font-style: italic;
  margin-top: 5px;
}
.font-family-verdana {
  font-family: Verdana;
  font-size: 12px;
}
.html-text-sytle {
  font-weight: bolder;
  margin-bottom: 0;
}
.beginner-to-pro-text {
  color: rgb(179, 177, 177);
  margin-top: 3px;
  margin-bottom: 10px;
}
.in-this-course-text {
  width: 220px;
  line-height: 15px;
}
.get-started-button {
  background-color: green;
  border:none;
  color: white;
  padding: 6px 10px;
  border-radius: 5px;
}
.shopping-text {
  font-family: Arial;
  font-weight: bolder;
  font-size: 16px;
  text-align: center;
}
.apple-text {
  font-family: Arial;
  text-align: center;
  font-size: 12px;
}
.learn-more {
  text-align: center;
  font-size: 12px;
  color: rgb(56, 120, 224);
}