p {
  font-family: Arial;
  text-align: center;
}
.new-text {
  color: rgb(224, 164, 53);
  margin-bottom: 0;
  font-size: 8px;
  font-weight: bold;
}
.macbook-pro-text {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 13px;
  margin-top: 4px;
}
.supercharged-text {
  font-weight: bolder;
  font-size: 20px;
  margin-top: 3px;
  margin-bottom: 0;
}
.dollor-text {
  font-size: 11px;
  margin-top: 4px;
  margin-bottom:0;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buy-now-button {
  background-color: rgb(25, 113, 214);
  color: white;
  border: none;
  font-size: 8px;
  padding: 3px 8px;
  border-radius: 10px;
  margin-top: 5px;
}